/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
*.iml
.calva
.bzr
.cache
.ccls-cache
.clangd
.classpath
.clj-kondo
*.code-search
.cpcache
_darcs
.DS_Store
.ensime_cache
.eunit
flow-typed
_FOSSIL_
.fslckout
.git
.hg
.idea
.joyride
.lsp
node_modules
.pijul
.project
.shadow-cljs
.stack-work
.svn
target
.tox
.vscode
.clj-kondo
.lein-failures
.nrepl-port
.lein-repl-history